body{
    /* background-color: rgba(0, 0, 0, 0.104);
    background-blend-mode: multiply; */
    background-image: url(../3.JPG);

    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
}
#map{
    margin-left: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info img{
    width: 500px; 
    height: 300px; 
    left: 460px; 
    top: 195px; 
    position:absolute; 
    background-color:pink;
}
.circle_btn{
    border-radius: 50%;
    color: rgb(102, 0, 0);
    background-color: rgb(252, 216, 216);
    font-size: 1.0em;
    width: 65px;
    height: 65px;
    border: none;
    font-weight: bold;
}
.exit{
    position:absolute;
    left: 1210px;
    top: 570px;
}
.player1{
    position:absolute;
    left: 1210px;
    top: 430px;
}
.player2{
    position:absolute;
    left: 1210px;
    top: 500px;
}

#player1_info, #player2_info{
    position: absolute;
    top: 215px;
    left: 450px;   
    font-size: 20px; 
    text-align: center;
}


.close{
    font-weight: bold;
    color:white;
    font-size: 1em;
}

.swal2-popup.swal2-modal {
    font-size: 16px; 
    width: auto;
    padding: 40px 20px 20px 20px;
}
.swal2-modal .swal2-title {
    font-size: 1.5em;
}
.swal2-modal button {
    padding: 6px 15px;
}